@using AccountUI.Client.Components
@using AccountUI.GraphQL.Components
@using Microsoft.AspNetCore.Components.Authorization
@rendermode InteractiveServer
@page "/courses/{id}"
<PageTitle>Fullstack Web Developer Course from Scratch</PageTitle>


<AuthorizeView>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
    <Authorized>
        @if (id is null)
        {
            <p>asdsadsad ..</p>


        } else
        {
            <UseGetSingleCourses Context="result" Id="@id">
                <ChildContent>
                    @if (id is not null && result.OneCourses != null)
                    {
                        <div class="single-course">
                            <section class="banner-section">
                                <img src="/images/@result.OneCourses.ImageUri" />
                                <div class="image-overlay"></div>
                                <div class="container">
                                    <div class="info-box">
                                        @if (result.OneCourses.IsBestseller)
                                        {
                                            <div class="best-seller">Best Seller</div>
                                        }
                                        @if (result.OneCourses.IsDigital)
                                        {
                                            <div class="digital">Digital</div>
                                        }
                                    </div>
                                    <h1>@result.OneCourses.Title</h1>
                                    <p>@result.OneCourses.Ingress</p>
                                    <div class="course-meta">
                                        <span class="stars">★ ★ ★ ★ ☆ <span> (@result.OneCourses.Reviews reviews)</span></span>
                                        <span><i class="fa-regular fa-thumbs-up"></i> @result.OneCourses.Likes likes</span>
                                        <span><i class="fa-regular fa-clock"></i> @result.OneCourses.Hours hours</span>
                                    </div>
                                    <div class="created-by">
                                        @if (result.OneCourses.Authors != null && result.OneCourses.Authors.Any())
                                        {
                                            <img src="/images/authors/avatar-AlbertFlores.svg" />
                                            <div class="text-content">
                                                <h3>Created by</h3>
                                                <p>@result.OneCourses.Authors.First().Name</p>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </section>


                            <section class="content-section">
                                <div class="container">
                                    <div class="course-description">
                                        <div class="content1">
                                            <h1>Course Description</h1>
                                            <p>@result.OneCourses.Content?.Description</p>
                                        </div>
                                        <div class="content2">
                                            <h2>What you'll learn</h2>
                                            @if (result.OneCourses.Content?.Learn != null)
                                            {
                                                @foreach (var item in result.OneCourses.Content.Learn)
                                                {
                                                    <div class="text-box">
                                                        <i class="fa-regular fa-circle-check"></i>
                                                        <p>@item</p>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>


                                    <aside>
                                        <h4>This course includes:</h4>
                                        @if (result.OneCourses.Content?.Includes != null)
                                        {
                                            foreach (var item in result.OneCourses.Content.Includes)
                                            {
                                                <div class="text-box">
                                                    <i class="@GetIconClass(item)"></i>
                                                    <p>@item</p>
                                                </div>
                                            }
                                        }

                                        <div class="course-price">
                                            <h2>$@result.OneCourses.Prices?.Price</h2>
                                            @if (result.OneCourses.Prices.Discount > 0)
                                            {
                                                <span>$@result.OneCourses.Prices?.Discount</span>
                                            }
                                            
                                        </div>
                                        <NavLink class="btn-join" href="/account-details"><span>Join Course</span></NavLink>
                                    </aside>
                                </div>
                            </section>


                            <section class="details-section">
                                <div class="container">
                                    <h1>Program Details</h1>
                                    @if (result.OneCourses.Content?.ProgramDetails != null)
                                    {
                                        @foreach (var detail in result.OneCourses.Content.ProgramDetails)
                                        {
                                            <div class="text-box">
                                                <div class="number-box">@detail.Id</div>
                                                <div class="content-box">
                                                    <h4>@detail.Title</h4>
                                                    <p>@detail.Description</p>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </section>
                        </div>
                    }
                    

                </ChildContent>
                <ErrorContent>
                    Error ..
                </ErrorContent>
                <LoadingContent>
                    Loading ..
                </LoadingContent>
            </UseGetSingleCourses>
        }

    </Authorized>
</AuthorizeView>


@code {
    [Parameter]
    public string? id { get; set; }

    private string GetIconClass(string item)
    {
        
        if (item.Contains("video")) return "fa-solid fa-desktop";
        if (item.Contains("article")) return "fa-regular fa-newspaper";
        if (item.Contains("downloadable")) return "fa-solid fa-download";
        if (item.Contains("access")) return "fa-solid fa-infinity";
        if (item.Contains("Certificate")) return "fa-solid fa-trophy";
        return "fa-solid fa-circle";
    }
}